.flex {
    display:flex;
    justify-content: center;
}

body, button, input, textarea {
    font-family: sans-serif;
}

.green a {
    color: greenyellow;
}

a {
    font-size: 22px;
}